/*
  bg #15301c
  button-bg #198a42
  button-border #22bd5b
  text primary white
  text secondary ccc
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: #198a42;
  border: 2px solid #22bd5b;
  color: inherit;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: #15301c;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 16px;
}

.header-links {
  display: flex;
  align-items: center;

  gap: 16px;

  font-size: 24px;
  font-weight: bold;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  gap: 32px;
  margin-bottom: 68px;
}

.hero-heading {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.hero-heading p {
  max-width: 300px;
  color: #ccc
}

.hero-heading button {
  width: 150px;

  padding: 8px 16px;

  /* background-color: #198a42; */
  /* border: 2px solid #22bd5b; */
  /* color: inherit; */
  font-weight: bold;
}

.hero-image {
  width: 500px;

  border: 2px solid #22bd5b;
}

.info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.info-heading {
  font-size: 32px;
  font-weight: bold;
}

.info-items {
  display: flex;
  align-items: center;
  gap: 75px;
}

.info-item {
  flex-basis: 200px;
}

.info-item img {
  width: 200px;
  border-radius: 32px;
  margin-bottom: 8px;
}

.info-item p {
  text-align: center;
}

.quote {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  background-color: #15301c;
  color: white;
}

.quote blockquote {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
}

.quote div {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
}

.action {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.action-card {
  background-color: #22bd5b;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  border-radius: 32px;
}

.action button {
  border-radius: 16px;
  font-size: 24px;
  font-weight: bold;
}

.action button a {
  padding: 8px 16px;
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: inherit;
}

.footer {
  display: flex;
  justify-content: center;

  padding: 32px;

  background-color: #15301c;
  color: white;
}
